{% extends "base.html" %}
{% load static %}

{% block title %}ETCHEDN - FAQ{% endblock %}

{% block content %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Frequently Asked Questions</h1>
                        <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
                    </div>
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <!-- FAQ Accordion 1-->
                            <h2 class="fw-bolder mb-3">Company Overview</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is ETCHEDN</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            ETCHEDN is a digital solutions company specializing in leveraging AI technology to enhance web and mobile app development. Our mission is to integrate artificial intelligence seamlessly into your business, enhancing every interaction and operation with smart, data-driven insights.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What makes ETCHEDN different from other development companies?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            ETCHEDN stands out with:
                                            <ul>
                                                <li>An integrated approach combining AI with web and mobile development</li>
                                                <li>Custom solutions driven by cross-functional expertise</li>
                                                <li>A commitment to innovation and quality in every project</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <!-- FAQ Accordion 2-->
                            <h2 class="fw-bolder mb-3">Services Offered</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What services does ETCHEDN provide?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            We offer a full spectrum of services including:
                                            <ul>
                                                <li>Custom web and mobile application development</li>
                                                <li>AI-powered chatbots for improved customer engagement</li>
                                                <li>Predictive analytics for data-driven decision-making</li>
                                                <li>Personalized content delivery to enhance user experience</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How does ETCHEDN utilize AI in its services?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our services integrate AI to:
                                            <ul>
                                                <li>Automate and optimize processes</li>
                                                <li>Provide deep learning insights</li>
                                                <li>Tailor user experiences with smart algorithms</li>
                                                <li>Enable predictive analytics for better forecasting</li>
                                            </ul> 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Can services be tailored to specific business needs?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Absolutely. Our service packages are highly customizable to fit your unique business needs, whether you require a comprehensive solution or specific integrations like chatbot services or advanced data analytics.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Accordion 3-->
                            <h2 class="fw-bolder mb-3">Getting Started</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How Can Clients Get Started with ETCHEDN?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            To begin your journey with ETCHEDN, we invite you to Contact Us. Our team is ready to understand your needs and envision a tailored AI solution that fits your business perfectly.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What is the process of working with ETCHEDN?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The process is simple:
                                            <ul>
                                                <li>Initial Consultation to understand your needs</li>
                                                <li>Strategic Planning with our cross-functional teams</li>
                                                <li>Agile Development and Iteration</li>
                                                <li>Quality Assurance and Testing</li>
                                                <li>Deployment and Continuous Support</li>
                                            </ul> 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How can I schedule a consultation?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Scheduling a consultation is just a click away. Simply visit our <a href="/contact">Contact page</a>, provide us with your information and a brief overview of your project, and we'll be in touch to arrange a detailed session.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Accordion 4-->
                            <h2 class="fw-bolder mb-3">Pricing and Payment</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What are the pricing models for ETCHEDN’s services?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            We believe in transparent and flexible pricing to fit the diverse needs of our clients. For detailed package information and to find the plan that's right for you, please see our <a href="/pricing">Pricing page</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Accordion 5-->
                            <h2 class="fw-bolder mb-3">Quality Assurance</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How does ETCHEDN ensure the quality of delivered projects?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our commitment to quality is unwavering. We employ a rigorous quality assurance process that includes multiple testing phases and peer reviews to ensure your project not only meets but exceeds expectations.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What post-development support does ETCHEDN offer?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            After your project goes live, our support continues. From maintenance packages to ongoing optimizations and updates, we stand by our work to ensure your digital solutions continue to perform at their best.Our dedicated support team is ready to assist you with any queries or issues. For support, please reach out to us via our <a href="/contact">Contact page</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Accordion 6-->
                            <h2 class="fw-bolder mb-3">Technical Support</h2>
                            <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">How can I contact ETCHEDN for technical support?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne2" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            Our dedicated support team is ready to assist you with any queries or issues. For support, please reach out to us via our <a href="/contact">Contact page</a>.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">What are the support hours and response times?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            We're here to help you from Monday to Friday, 9am to 6pm. We strive to respond to all inquiries within 1-3 business days to ensure you receive timely and effective support.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 bg-light mt-xl-5">
                                <div class="card-body p-4 py-lg-5">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Have more questions?</div>
                                            <p class="text-muted mb-4">
                                                Contact us at
                                                <br />
                                                <a href="#!">(512) 200-3827</a>
                                            </p>
                                            <div class="h6 fw-bolder">Follow us</div>
                                            <a class="fs-5 px-2 link-dark" href="https://twitter.com/etchedn_"><i class="bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.facebook.com/EtchedN/"><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.instagram.com/etchedn"><i class="bi-instagram"></i></a>
                                            <!-- <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>-->
                                            <!-- <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
{% endblock %}